name: Deploy to Heroku

on:
  push:
    branches:
      - master

jobs:
  deploy:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Login
      uses: actions/heroku@1.0.0
      env:
        HEROKU_API_KEY: ${{ secrets.HEROKU_API_KEY }}
      with:
        args: container:login
    - name: Push
      uses: actions/heroku@1.0.0
      with:
        args: container:push -a autointegrator web
    - name: Release
      uses: actions/heroku@1.0.0
      with:
        args: container:release -a autointegrator web
